.navbar {
    position: fixed;
    transition: width 200ms ease;
}

.icon-menu {
    align-items: center;
    background: #2b2a2a;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: .3s;
}

.selected-icon {
    background-color: var(--main-primary-color);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo .icon {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo .icon {
    transform: rotate(-180deg);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    color: var(--text-primary);
}

.nav-link .icon {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.link-text {
    display: none;
}

.options-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option:last-child {
    margin-top: auto;
}

@media only screen and ( max-width: 300px  ) {

    .icon-menu {
        width: 20%;
    }

}

@media only screen and ( max-width: 600px ) {

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 6rem;
        background: var(--bg-primary);
    }

    .logo {
        display: none;
    }

    .options-navbar:first-child {
        margin-left: 0.5rem;
    }

    .options-navbar:last-child {
        margin-right: 0.5rem;
    }

    .options-navbar {
        flex-direction: row;
        margin-top: 0.5rem;
    }

    .icon-menu:not(:last-child) {
        margin-right: auto;
    }

    .nav-link { 
        justify-content: center;
    }

}

@media only screen and ( min-width: 600px ) {
    .navbar {
        top: 30%;
        width: 5rem;
        right: 3rem;
    }

    .icon-menu:hover {
        width: 10rem;
    }

    .icon-menu:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    .navbar:not(:last-child) {
        margin-bottom: 100px;
    }

    .options-navbar:not(:last-child) {
        margin-bottom: 100px;
    }

    .logo-text {
        display: inline;
        position: absolute;
        left: -999px;
        transition: var(--transition-speed);
    }

    .options-navbar .option {
        margin-bottom: 10px;
    }

    .option {
        width: 100%;
    }
}
