/* You can add global styles to this file, and also import other style files */

body {
    color: white;
    font-family: 'Open Sans';
    background-color: var(--bg-third);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

:root {
    font-size: 16px;
    --main-primary-color: #ff4d00;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #4e4e4e8f;
    --bg-secondary: #ff4d00;
    --bg-third: #111;
    --transition-speed: 600ms;
}