
<div class="container-text">
    <mat-card class="card"/>

    <div class="container-desc">
        <h1 class="text">
            Cristhian Martinez
        
            <span>Fullstack Developer</span>
        </h1>
    
        <p class="text-desc"> 
            Soy un comunicador efectivo y un miembro de equipo colaborativo, con muchas ganas de seguir creciendo.
        </p>
    </div>
</div>

<div class="card-2">
    <img src="../../assets/img/me.jpeg" class="img">

    <h1 class="text2">
        Cristhian Martinez

        <span>Fullstack Developer</span>
    </h1>
</div>